{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"/>
    <script src="https://kit.fontawesome.com/7f1419bc41.js" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js" crossorigin="anonymous">
    </script>
    <style>
        .notify-drop {
            width: 40vw;
            left: -31vw;
            cursor: auto;
            z-index: 10000;
        }

        .notification-item:hover {
            background-color: lightblue;
            cursor: pointer;
        }

        @media (max-width: 992px) {
            .notify-drop {
                width: 90vw;
                left: initial;
            }

        }
    </style>
    {% block styles %}{% endblock %}
    <title>{% block title %}{% endblock %} | Social Network</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand ml-5" href="#">Social Network</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'profile_index' %} active {% endif %}">
                <a class="nav-link"
                   href="{% url 'profile_index' request.user.id %}"><i class="fas fa-user-circle"></i> Profile</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'index' %}active{% endif %}">
                <a class="nav-link"
                   href="{% url 'Chats:index' %}"><i class="fas fa-comment-dots"></i> Chats</a>
            </li>
            <li class="nav-item dropdown
                    {% if request.resolver_match.url_name == 'groups_index' %}
                    active
                    {% elif request.resolver_match.url_name == 'groups_my_groups' %}
                    active
                    {% elif request.resolver_match.url_name == 'groups_joined' %}
                    active
                    {% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-users"></i> Groups
                </a>
                <div class="dropdown-menu rounded" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item {% if request.resolver_match.url_name == 'groups_index' %} active {% endif %}"
                       href="{% url 'groups_index' %}"><i class="fas fa-users"></i> All Groups</a>
                    <a class="dropdown-item {% if request.resolver_match.url_name == 'groups_my_groups' %} active {% endif %}"
                       href="{% url 'groups_my_groups' %}"><i class="fas fa-plus-circle"></i> Created Groups</a>
                    <a class="dropdown-item {% if request.resolver_match.url_name == 'groups_joined' %} active {% endif %}"
                       href="{% url 'groups_joined' %}"><i class="fas fa-sign-in-alt"></i> Joined Groups</a>
                </div>
        </ul>
        {% if request.user.is_authenticated %}
            <ul class="nav btn btn-info ml-auto mr-4">
                <li class="dropdown notify-drop-button">
                    <a href="#" class="text-light text-decoration-none font-weight-bold p-2"
                       data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notification
                        <span class="badge badge-danger notification notification-number">0</span>
                    </a>
                    <ul class="dropdown-menu notify-drop">
                        <!-- notify content -->
                        <div class="drop-content overflow-auto" style="height: 500px"></div>
                    </ul>
                </li>

            </ul>
        {% endif %}
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link bg-primary rounded-lg text-white" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    {% block content %}{% endblock %}
</div>
{% block scripts %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
{% if request.user.is_authenticated %}
    <script>
        const renderNotification = (detail, sorted = true) => {
            const fromNow = moment(detail.created_at).fromNow()
            const dropContent = $('.drop-content');
            const createdElement = $("<div class='row ml-3 pr-4 notification-item p-2'><div class='col-11'></div></div>")
                .append(
                    $(`<a class="text-decoration-none w-100" href="${detail.formatted_redirect_to}"></a>`).append(
                        `<div class="d-flex justify-content-between"><div class="font-weight-bold">${detail.formatted_title}</div><div>${fromNow}</div</div>`,
                        `<div class="text-dark">${detail.formatted_message}</div>`))
                .add('<hr>')
            if (sorted) {
                dropContent.append(createdElement)
            } else {
                dropContent.prepend(createdElement)
            }

        }
        $(document).ready(function () {
            const notificationsWebSocket = new WebSocket(`ws://${window.location.host}/ws/notifications/`)
            notificationsWebSocket.onmessage = event => {
                renderNotification(JSON.parse(event.data).message, false)
                const notificationNumber = $(".notification-number").first()
                notificationNumber.html(Number(notificationNumber.html()) + 1)
                const audio = new Audio("http://localhost:8000/media/notifications/insight-578.mp3");
                audio.play();
            }
            notificationsWebSocket.onclose = event => alert("Connection to socket lost please refresh page.")

            fetch('/api/notifications')
                .then(response => response.json())
                .then(responseObj => responseObj.detail.forEach(function (elem) {
                    renderNotification(elem)
                }))

            $(".notify-drop-button").click(event => $(".notification-number").html(0))
        })
    </script>
{% endif %}
</body>
</html>
