{% extends 'layouts/base.html' %}

{% block title %}
    Accounts
{% endblock %}



{% block styles %}
    <style>
        body {
            background-color: #dbd8d8;
        }

        .custom-style {
            background-color: #dfe6e9 !important;
        }

        .border-3 {
            border-width: 3px !important;
        }

        .custom-hover-friends {
            transition: background-color 0.5s ease-in-out;
        }

        .custom-hover-friends:hover {
            cursor: pointer;
            background-color: #acd0f3 !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="w-75 mx-auto my-4 p-5 rounded-lg custom-style">
        <div class="mb-4">
            <h2>Friends:</h2>
            {% if friends %}
                {% for friend in friends %}
                    <div class="bg-light w-75 mx-auto p-5 rounded-lg d-flex custom-hover-friends"
                    onclick="location.href='{% url 'profile_index' friend.from_user.id %}';">
                        <div class="w-50 text-center">
                            <img class="rounded-circle border border-primary border-3" width="100" height="100"
                                 src="{{ friend.from_user.profile.profile_image.url }}" alt="image">
                        </div>
                        <div class="w-50 pt-4">
                            <span>Name:  </span>
                            <a href="{% url 'profile_index' friend.from_user.id %}">{{ friend.from_user.username }}</a>
                            <a class="btn btn-outline-primary float-right"
                               href="{% url 'Chats:new_chat' friend.from_user.id %}">Send Message</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="p-2 pl-5 ml-5 bg-light rounded-lg w-25">Sorry, no Friends yet</p>
            {% endif %}
        </div>
    </div>
{% endblock %}