{% extends "layouts/base.html" %}

{% block styles %}
    <style>
        body {
            background-color: #dbd8d8;
        }

        .custom-style {
            background-color: #dfe6e9 !important;
        }

        .border-3 {
            border-width: 3px !important;
        }
    </style>
{% endblock %}

{% block title %}
    Profile Info
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-md-3 bg-light my-4 p-2 rounded-lg custom-style">
                <div class="mt-5 text-center">
                    <img class="rounded-circle border border-primary border-3"
                         src="{{ user.profile.profile_image.url }}" height="200px" width="200px" alt="profile_pic">
                </div>
                {% if request.user.id == user.id %}
                    <div class="w-100 d-flex justify-content-center mt-5">
                        <a class="btn btn-success mr-2" href="{% url 'edit' user.id %}">Edit</a>
                        <a class="btn btn-warning" href="{% url 'edit_pass' user.id %}">Change Password</a>
                    </div>
                {% else %}
                    <div class="w-75 mx-auto mt-5">
                        {% if friend.approved %}
                            <button class="btn btn-success btn-block"><i class="fas fa-people-arrows"></i> Already
                                Friends
                            </button>
                        {% elif exists and not friend.approved %}
                                <button class="btn btn-outline-warning btn-block">
                                    Request Pending
                                </button>
                                <a class="btn btn-outline-danger btn-block"
                                    href="{% url 'cancel_friend_request' friend.id user.id %}">
                                    Cancel Request
                                </a>
                        {% elif not exists %}
                            <a class="btn btn-outline-success btn-block"
                               href="{% url 'send_friend_request' user.id %}">Add Friend</a>
                        {% endif %}


                        <a class="btn btn-outline-info btn-block"
                           href="{% url 'Chats:new_chat' user.id %}">Send Message</a>
                    </div>
                {% endif %}
            </div>
            <div class="col ml-2 col-md-4 bg-light my-4 p-2 rounded-lg custom-style">
                <div class="p-3 mt-">
                    <h2 class="text-primary">Profile Info: </h2>
                    <div class="d-flex align-items-center">
                        <h3 class="p-2">Username: </h3>
                        <h5 class="p-2">{{ user.username }}</h5>
                    </div>
                    <div class="d-flex align-items-center">
                        <h3 class="p-2">First Name: </h3>
                        <h5 class="p-2">{{ user.first_name }}</h5>
                    </div>
                    <div class="d-flex align-items-center">
                        <h3 class="p-2">Last Name: </h3>
                        <h5 class="p-2">{{ user.last_name }}</h5>
                    </div>
                    <div class="d-flex align-items-center">
                        <h3 class="p-2">Email: </h3>
                        <h5 class="p-2">{{ user.email }}</h5>
                    </div>

                    <div class="d-flex align-items-center">
                        <h3 class="p-2">Gender: </h3>
                        <h5 class="p-2">{{ user.profile.gender }}</h5>
                    </div>
                    <div class="d-flex align-items-center">
                        <h3 class="p-2">Date of Birth: </h3>
                        <h5 class="p-2">{{ user.profile.date_of_birth }}</h5>
                    </div>

                </div>
            </div>
            <div class="col ml-2 col-md-4 bg-light my-4 p-2 rounded-lg custom-style">
                <form method="GET" action="">
                    <div class="p-2">
                        {{ filter.form }}
                        <button type="submit" class="btn btn-primary p-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                            </svg>
                            Search
                        </button>
                    </div>
                    <div class="p-2">
                        {% for user in users %}
                            <h5><a href="{% url 'profile_index' user.id %}" class="d-block">{{ user.username }}</a></h5>
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
        <div class="w-75 mx-auto my-4 p-5 rounded-lg custom-style">
        <div class="w-75 mx-auto text-center">
            <h2>Posts</h2>
        </div>
        {% for post in post_list %}
            <div class="bg-light rounded-lg py-4 my-4 custom-hover-list">
                <div class="row justify-content-center mt-3">
                    <div class="col-3 text-center">
                        <img class="rounded-circle border border-primary border-3"
                             src="{{ post.author.profile.profile_image.url }}" width="100" height="100" alt="image">
                    </div>
                    <div class="col position-relative">
                        <h4 class="text-primary"><strong><i class="fas fa-at"></i>{{ post.author }}</strong></h4>
                        <div class="d-flex">
                            <i class="far fa-newspaper"></i>&nbsp
                            <small class="text-muted">
                                {{ post.created_at | timesince }} ago <i class="fas fa-clock fa-xs"></i>
                            </small>
                        </div>

                        <p class="text-break">{{ post.body }}</p>

                        <a class="stretched-link" href="{% url 'post-detail' post.pk %}"></a>
                    </div>
                    <div class="d-flex flex-row mr-4">
                        <form method="POST" action="{% url 'like' post.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button style="background-color: transparent; border: none; box-shadow: none;"
                                    type="submit"><i
                                    class="fas fa-thumbs-up"></i> <span>{{ post.likes.all.count }}</span></button>
                        </form>

                        <form method="POST" action="{% url 'dislike' post.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button style="background-color: transparent; border: none; box-shadow: none;"
                                    type="submit"><i
                                    class="fas fa-thumbs-down"></i> <span>{{ post.dislikes.all.count }}</span></button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>

{% endblock %}

