{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block content %}

<div class="container">
    {% comment %} create new post component {% endcomment %}
    <div class="card posts-card" id='post-creator' >
        <div class="card-body">
            <div class="form-group">
                <textarea class="form-control" rows="3" placeholder="What is in your mind?" id='post-content'></textarea>
            </div>
            <form action="">
                <button type="submit" class="btn btn-primary">Share</button>
            </form>
        </div>
    </div>
    {% comment %} the wrapper div {% endcomment %}
    <div id='posts-wrapper'>    </div>
</div>

<script>
        // #### csrf token
        function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();

		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getCookie('csrftoken');
        // #### End of csrf token

        // #### Listing all posts
        buildPost();
        function buildPost(){
            var wrapper = document.getElementById('posts-wrapper');
            wrapper.innerHTML = '';
            const url = 'http://127.0.0.1:8080/api/posts/post-list';
            fetch(url)
            .then((resp) => resp.json())
            .then(function(data){
                console.log("Data: ", data)
                var list = data.detail;
                for (var i in list){
                    var postItem = `
                    <div class="shadow card posts-card my-4 rounded-lg" id="data-row-${i}">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mr-2">
                                        <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                                    </div>
                                    <div class="ml-2">
                                        <div class="h5 m-0">@${list[i].user}</div>
                                        <div class="h6 text-muted">${list[i].user}</div>
                                    </div>
                                </div>
                                <div>
                                    <div class="dropdown">
                                        <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <div class="h6 dropdown-header">Post Control</div>
                                            <a class="dropdown-item btn btn-warning" href="post/update/${list[i].id}" id='editButton'> Edit</a>
                                            <a class="dropdown-item btn btn-danger" href="post/delete/${list[i].id}"> Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="text-muted h6 mb-2"> <i class="fa fa-clock-o"></i> ${moment(list[i].created_at).fromNow()} </div>
                            <div id='edit-post'>
                                <p class="card-text">
                                    ${list[i].content}
                                </p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
                            <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
                        </div>
                    </div>
                    `
                    wrapper.innerHTML += postItem
                } // end of for loop 


            })
        }
        // #### End of listing all posts

        // #### Create a new post
        var createNewPost = document.getElementById('post-creator');
        createNewPost.addEventListener('submit', function(e) {
            e.preventDefault()
            console.log('post create api is in use');
            const url = 'http://localhost:8080/api/posts/post-create/';
            var content = document.getElementById('post-content').value;
            fetch(url,  {
                    method: 'POST',
                    headers: {
                        'Content-type':'application/json',
                        'X-CSRFToken':csrftoken
                    },
                    body: JSON.stringify({'content':content})
                }
            
            ).then(function(resp){
                buildPost();
                document.getElementById('post-content').value = '';
            })

        })
        // #### End of create a new post
</script>
{% endblock content %}

    