{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Post Detail{% endblock %}

{% block scripts %}
    <script>
        const submit_btn = document.getElementById('submit');
        const text_area = document.getElementById('id_comment');
        text_area.value = ''
        const submit_comment_form = document.getElementById("submit_comment");
        submit_btn.addEventListener("click", function (e) {
            submit_comment_form.submit()
            text_area.value = ''
        });
    </script>
{% endblock %}

{% block content %}
    <div class="w-75 mx-auto my-4 p-5 rounded-lg custom-style">
        <div class="row  mt-5">
            <div class="col-md-5 col-sm-6">
                <a href="{% url 'post-list' %}" class="btn btn-light"><i class="fas fa-arrow-left"></i> Back To Feed</a>
            </div>
        </div>
        <div class="bg-light rounded-lg py-4 my-4">
            <div class="d-flex flex-column justify-content-center mt-3 px-5 py-4">
                <div class="d-flex ">
                    <div>
                        <img class="rounded-circle border border-primary border-3"
                             src="{{ post.author.profile.profile_image.url }}" width="100" height="100" alt="image">
                    </div>
                    <div class="p-4">
                        <h3><strong>{{ post.author }} </strong></h3>
                        <div class="d-flex">
                            <i class="fas fa-comment-alt"></i>&nbsp
                            <small class="text-muted d-block">{{ post.created_at | timesince }} ago <i
                                    class="fas fa-clock fa-xs"></i></small>

                        </div>
                    </div>
                </div>
                <div>
                    {% if request.user == post.author %}

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger float-right" data-toggle="modal"
                                data-target="#post-{{ post.id }}">
                            <i class="fas fa-trash text-light"></i>
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="post-{{ post.id }}" tabindex="-1"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to <strong class="text-danger">delete this post</strong>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                                        </button>
                                        <a class="btn btn-danger float-right" href="{% url 'post_delete' post.pk %}">
                                            Yes, Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endif %}
                </div>
                <div class="col ml-3 border-bottom">
                    <p class="p-4 text-break">{{ post.body }}</p>
                </div>
                <div class="d-flex flex-row clearfix">
                    <form method="POST" action="{% url 'like' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button style="background-color: transparent; border: none; box-shadow: none;" type="submit"><i
                                class="far fa-thumbs-up"></i> <span>{{ post.likes.all.count }}</span></button>
                    </form>
                    <form method="POST" action="{% url 'dislike' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button style="background-color: transparent; border: none; box-shadow: none;" type="submit"><i
                                class="far fa-thumbs-down"></i> <span>{{ post.dislikes.all.count }}</span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-between align-items-between ">
                <div class="col-12">
                    <h5 class="px-4">Write a Comment</h5>
                </div>
            </div>
            <div class="row justify-content-center mb-5">
                <div class="px-5 col-12">
                    <form method="POST" id="submit_comment">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="d-grid gap-2">
                            <button id="submit" class="btn btn-success mt-3">Comment <i class="fas fa-comments"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% for comment in comments %}
        <div class="bg-light  rounded-lg py-4 my-4">
            <div class="row">
                <div class="col-4 text-center">
                    <img class="rounded-circle border border-primary border-3"
                         src="{{ comment.author.profile.profile_image.url }}" width="80" height="80" alt="">
                </div>
                <div class="col-6 ml-5">
                    <div class="d-flex justify-content-between">
                        <h4 class="text-primary"><strong><i class="fas fa-at"></i> {{ comment.author }} </strong></h4>
                        {% if request.user == comment.author %}

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                    data-target="#comment-{{ comment.id }}">
                                <i class="fas fa-trash"></i>
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="comment-{{ comment.id }}" tabindex="-1"
                                 aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to Delete
                                            <strong class="text-danger">this comment</strong> ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Cancel
                                            </button>
                                            <a href="{% url 'comment_delete' post.pk comment.pk %}" style="color: #333;"
                                               class="btn btn-danger text-light">Yes, Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="d-flex align-items-center">
                        <p class="text-dark"><i class="fas fa-comments"></i>&nbsp</p>
                        <small class="text-muted">{{ comment.created_at | timesince }} ago</small>
                    </div>

                    <p class="text-break"> {{ comment.comment }}</p>
                    <div class="d-flex flex-row">
                        <form method="POST" action="{% url 'likeComment' post.pk comment.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button style="background-color: transparent; border: none; box-shadow: none;"
                                    type="submit"><i
                                    class="far fa-thumbs-up"></i> <span>{{ comment.likes.all.count }}</span>
                            </button>
                        </form>

                        <form method="POST" action="{% url 'dislikeComment' post.pk comment.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button style="background-color: transparent; border: none; box-shadow: none;"
                                    type="submit"><i
                                    class="far fa-thumbs-down"></i> <span>{{ comment.dislikes.all.count }}</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

